header {
  background-color: rgb(44, 42, 42);
  color: #fff;
  display: flex;
  height: 5vh;
  align-items: center;
  padding: 1%;
}

header a {
  margin: 10%;
  color: #fff;
  text-decoration: none;
}

header a:hover {
  color: rgb(252, 166, 166);
}

.active {
  text-decoration: underline;
}

main {
  display: flex;
  height: 92vh;
  align-items: center;
  justify-content: center;
}